@import "tailwindcss";

/* =========================
   Design Tokens
========================= */
:root {
  --primary: #EC265F;
  --muted: #40404080;
  --bg: #F3F2F0;
  --ink: #000000;
   --font-poppins: "Poppins", system-ui, sans-serif;
  --font-fredoka: "Fredoka", system-ui, sans-serif;
}

/* =========================
   Tailwind Theme Mapping
========================= */
@theme inline {
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --color-background: var(--bg);
  --color-foreground: var(--ink);

  --font-sans: var(--font-poppins);
}

/* =========================
   Global Styles
========================= */
body {
  background: var(--bg);
  color: var(--ink);
  font-family: var(--font-poppins), sans-serif;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.font-poppins {
  font-family: var(--font-poppins);
}

.font-fredoka {
  font-family: var(--font-fredoka);
}
/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
