@import "tailwindcss";

/* =========================
   Design Tokens
========================= */
:root {
  --primary: #EC265F;
  --muted: #40404080;
  --bg: #F3F2F0;
  --ink: #000000;
}

/* =========================
   Tailwind Theme Mapping
========================= */
@theme inline {
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --color-background: var(--bg);
  --color-foreground: var(--ink);

  --font-sans: var(--font-poppins);
}

/* =========================
   Global Styles
========================= */
body {
  background: var(--bg);
  color: var(--ink);
  font-family: var(--font-poppins), sans-serif;
}
